<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; CamperHeaven 2023</span>
        <p class="text-muted">Developed by <a href="https://www.linkedin.com/in/allaudin-ali-ahmad/">Allaudin Ali</a> </p>
    </div>
</footer>